/************************************************************
							INDEX
************************************************************/
.quote-box {
	margin: 0 0 20px 0;
	padding: 10px 20px;
	color: grey;
	border-bottom: 1px solid lightgrey;
}
/*****************************
		Product Line
******************************/
.productLine {
	width: 95%;
	margin: 20px auto;
	color: grey;
}
.productLine-title {
	width: 95%;

	margin-left: 5px;
	border-bottom: 1px solid grey;
}

.productLine-container {
	height: 160px;
	width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	display: inline-block;
	vertical-align: top;
}
.productLine-productsContainer {
	display: inline-block;
	height: 160px;
	width: 2000px;
}
.productLine-productsContainer img {
	height: 90%;
	width: 150px;
	padding-left: 3px;
	margin: 2px 0;
}
/*****************************
	Product Image Slider
******************************/
#image-slider {
	margin: 0 auto;
	background-color: palegreen;
	width: 100vw;
	height: 54vw;
	max-width: 100%;
	overflow: hidden;
	display: inline-block;
}
#image-slider .slides {
	display: block;
	width: 6000px;
	margin: 0;
	padding: 0;
}
#image-slider .slide {
	float: left;
	list-style-type: none;
	width: 100vw;
	height: 54vw;
	max-width: 1500px;
}
#image-slider .slide img {
	width: 100%;
	height: 100%;
}
#image-slider .sliderdots {
	width: auto;
	height: 20px;
	position: relative;
	bottom: 20px;
	text-align: center;
}
#image-slider .sliderdot {
	width: 15px;
	height: 15px;
	background-color: white;
	display: inline-block;
	border-radius: 15px;
	opacity: 0.3;
	cursor: pointer;
	margin-left: 10px;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#image-slider .activedot {
	width: 15px;
	height: 15px;
	background-color: white;
	display: inline-block;
	border-radius: 15px;
	opacity: 1;
	cursor: pointer;
	margin-left: 10px;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#image-slider .hidden_dot {
	display: none;
}
}
#image-slider .sliderdot:hover {
	opacity: 0.8;
}
/*****************************
		Social Box
******************************/
.social-box {
	width: 100%;
	text-align: center;
	color: grey;
}
.social-box h1 {
}
/*****************************
			Footer
******************************/
#footer {
	width: 100%;
	height: 40px;
	background-color: #e9eaed; 
}
/************************************************************
						PRODUCTS
************************************************************/
/*****************************
	 Products Container
******************************/
.products__container {
	width: 90%;
	margin: 0 auto;
}

/*****************************
	     Refine
******************************/
/**	Refine Buttons **/
.refine_buttons {
	width: 100%;
}
.refine_buttons__refine_button,
.refine_buttons__sort_button {
	height: 50px;
	width: 50%;
	display: inline-block;
	text-align: left;
	float: left;
	line-height: 50px;
	color: white;
}
.refine_buttons__refine_button p, 
.refine_buttons__sort_button p {
	margin-left: 4px;
	font-size: 18px;
	display: inline-block;
}
.refine_buttons__refine_button {
	background-color: seagreen;
}
.refine_buttons__refine_button img {
	display: inline-block;
	height: 11px;
	width: 11px;
	margin-left: 8px;
	transition: 0.5s;
}
.refine_buttons__sort_button {
	background-color: coral;
}
.refine_buttons__sort_button form {
	display: inline-block;
	border: none;
	width: 45%;
	color: white;
}
.refine_buttons__sort_button select {
	background-color: coral;
	border: none;
	width: 100%;
	height: 90%;
	color: white;
}

/**	Refine Options **/

.refine_options {
	display: none;
}
.refine_options h3 {
	padding-left: 3px;
	background-color: lightgrey;
	padding: 5px 0;
}
.refine_options__price_form {
	margin: 5px 0;
}
.refine_options__price_form:first-child {
	border-bottom: 1px solid lightgrey;
}
.refine_options__price_form div {
	display: inline-block;
	width: 45%;
	vertical-align: top;
}
.refine_options__price_form input {
	height: 30px;
	vertical-align: middle;
}
.refine_options__price_form #min-price,
.refine_options__price_form #max-price {
	width: 50px;
	margin-bottom: 5px;
}
.refine_options__price_form #min-price-range,
.refine_options__price_form #max-price-range {
	width: 100%;
}
.refine_options__price_form p {
	color: red;
}
.products__container #refine-type-list {
	margin: 0 auto;
	width: 100%;
}
.products__container #refine-type-item {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid grey;
	padding-left: 3px;
	line-height: 40px;
	list-style: none;
}
.products__container .refine-submit {
	display: block;
	margin: 10px auto 0 auto;
	background-color: seagreen;
	width: 95%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: white;
	border: none;
}
.products__container .selected {
	background-color: seagreen;
	color: white;
}

/*****************************
	     product_list
******************************/
.product_list {
	text-align: center;
	width: 100%;
}

.product_list__item {
	list-style: none;
	width: 60%;
	margin: 20px 0;
}
.product_list__item a {
	text-decoration: none;
	color: black;
	text-align: left;
	margin: 0 auto;
	width: 80%;
}
.product_list__item img {
	width: 100%;
}
.product_list__item__info {
	display: block;
	height: 40px;
	width: 100%;
	margin: 0 auto;
}
.product_list__item__info_title {
	margin: 0;
}
.product_list__item__info_price {
	margin: 0;
	color: grey;
}
/*****************************
			Footer
******************************/
#footer {
	width: 100%;
	height: 100px;
	background-color: #e9eaed;
}
/************************************************************
						PRODUCT
************************************************************/
.name-and-price {
	width: 100%;
	padding: 3px 0 3px 0;
}
.name-and-price h4 {
	color: grey;
}
.product-image img {
	width: 100%;
	max-width: 550px;
}

.description {
	padding: 3px 0 3px 5px;
}
.description h3 {
	width: 100%;
	height: 50px;
	background-color: lightgrey;
	padding-left: 10px;
}
.back_to_products {
	height: 20px;
	width: 100%;
	margin: 10px 0;
	text-decoration: none;
	color: black;
}

#add_to_basket {
	display: block;
	width: 100%;
}

.added_to_basket {
	border: 2px solid lightgrey;
	border-radius: 5px;
	margin: 5px auto;
	padding: 0 3px;
	text-align: center;
}
.added_to_basket__title {
	margin: 0 0 10px 0;
}
.added_to_basket__button {
	width: 100%;
	display: inline-block;
	padding: 3px 0;
	margin-bottom: 3px;
	text-decoration: none;
	color: white;
	font-weight: bold;
	border-radius: 3px;
}
/************************************************************
						CONTACT
************************************************************/
#contact-form form {
	padding: 10px 20px;
}
#contact-form fieldset {
	padding: 8px;
}
#contact-form .form-name,
#contact-form .form-email,
#contact-form textarea {
	width: 98%;
	border-radius: 3px;
	border: 1px solid grey;
	background-color: #e9eaed;
	transition: 0.5s;
	padding: 2px;
}
#contact-form .form-name:focus,
#contact-form .form-email:focus,
#contact-form textarea:focus {
	background-color: white;
	outline: none;
}

#contact-form .form-name,
#contact-form .form-email {
	height: 30px;
}
#contact-form textarea {
	height: 120px;
}

#contact-form .form-submit {
	width: 100%;
	height: 34px;
	background-color: seagreen;
	color: white;
	border: none;
	cursor: pointer;
}
#contact-form p {
	text-align: center;
}
.error-message {
	text-align: center;
	color: red;
	background-color: yellow;
	border: 1px solid red;
	width: 90%;
	margin: 0 auto;
}
.goonybot {
	display: none;
}
/************************************************************
						SEARCH
************************************************************/
.search-results {}
.search-results a {
	text-decoration: none;
	color: black;
}
.search-results .list-item {
	height: 200px;
	width: 100%;
	display: inline-block;
}
.search-results .list-item img {
	height: 200px;
	width: 200px;
	float: left;
	margin-right: 3px;
}
.search-results .item-price {
	color: grey;
}
/***********************************************************
						BASKET
***********************************************************/
#basket { 
	margin: 30px 0;
	padding: 0 5px;
}
#basket table {
	width: 100%;
	color: #666;
	text-align: left;
	border-spacing: 0;
	border-collapse: collapse;
}
#basket table th {
	padding-bottom: 5px;
	border-bottom: 1px solid lightgrey;		
}
#basket table td {
	padding: 3px;
}
#basket table .subtotal {
	padding-top: 5px;
	border-top: 1px solid lightgrey;
}
#basket table .remove-column {
	padding-left: 25px;
}
#basket table .form-remove {
	width: 25px;
	border: none;
	cursor: pointer;
}
#basket table .form-qty {
	width: 30px;
	background-color: white;
	border: 1px solid lightgrey;
	text-align: center;
}
#basket table .form-update-qty {
	background-color: seagreen;
	color: white;
	border: none;
	cursor: pointer;
}
.proceed-to-checkout {
	text-decoration: none;
}
.proceed-to-checkout div {
	padding: 10px 0;
	text-align: center;
	background-color: seagreen;
	color: white;
	font-weight: bold;
}
.from-last-session {
	background-color: #FFCC00;
}
/***********************************************************
					  SIGNUP / LOGIN
***********************************************************/
#signupLogin {
	padding: 20px;
	text-align: center;
}
#signupLogin-loginContainer form,
#signupLogin-signupContainer form {
	width: 98%;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 3px;
}
#signupLogin-loginButton,
#signupLogin-signupButton {
	width: 100%;
}
/***********************************************************
						CHECKOUT
***********************************************************/
#checkout {
	padding: 20px;
	margin: 0 auto;
}
#checkout-payment {
	border: 1px solid white;
	border-radius: 3px;
	padding: 10px;
	background-color: white;
}
.checkout-payment-productImage {
	width: 150px;
	height: 150px;
}
#checkout-placeOrderButton {
	background-color: #009CDE;
	color: white;
	font-size: 14px;
	margin-top: 15px;
	height: 50px;
}
#deliverySelectInput {
	width: 100%;
}
/************************************
		  CHECKOUT/REVIEW
************************************/
#checkout-review-wrapper{
	color: grey;
}
#customer-details, #order-details, #payment-details {
	margin: 10px 0;
}