/************************************************************
							INDEX
************************************************************/
.quote-box {
	margin: 0 0 20px 0;
	padding: 10px 20px;
	color: grey;
	border-bottom: 1px solid lightgrey;
}
/*****************************
		Product Line
******************************/
.productLine {
	width: 95%;
	margin: 20px auto;
	color: grey;
}
.productLine-title {
	width: 95%;

	margin-left: 5px;
	border-bottom: 1px solid grey;
}

.productLine-container {
	height: 160px;
	width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	display: inline-block;
	vertical-align: top;
}
.productLine-productsContainer {
	display: inline-block;
	height: 160px;
	width: 2000px;
}
.productLine-productsContainer img {
	height: 90%;
	width: 150px;
	padding-left: 3px;
	margin: 2px 0;
}
/*****************************
	Product Image Slider
******************************/
#image-slider {
	margin: 0 auto;
	background-color: palegreen;
	width: 100vw;
	height: 54vw;
	max-width: 100%;
	overflow: hidden;
	display: inline-block;
}
#image-slider .slides {
	display: block;
	width: 6000px;
	margin: 0;
	padding: 0;
}
#image-slider .slide {
	float: left;
	list-style-type: none;
	width: 100vw;
	height: 54vw;
	max-width: 1500px;
}
#image-slider .slide img {
	width: 100%;
	height: 100%;
}
#image-slider .sliderdots {
	width: auto;
	height: 20px;
	position: relative;
	bottom: 20px;
	text-align: center;
}
#image-slider .sliderdot {
	width: 15px;
	height: 15px;
	background-color: white;
	display: inline-block;
	border-radius: 15px;
	opacity: 0.3;
	cursor: pointer;
	margin-left: 10px;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#image-slider .activedot {
	width: 15px;
	height: 15px;
	background-color: white;
	display: inline-block;
	border-radius: 15px;
	opacity: 1;
	cursor: pointer;
	margin-left: 10px;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#image-slider .hidden_dot {
	display: none;
}
}
#image-slider .sliderdot:hover {
	opacity: 0.8;
}
/*****************************
		Social Box
******************************/
.social-box {
	width: 100%;
	text-align: center;
	color: grey;
}
.social-box h1 {
}
/*****************************
			Footer
******************************/
#footer {
	width: 100%;
	height: 40px;
	background-color: #e9eaed; 
}
/************************************************************
						PRODUCTS
************************************************************/
/*****************************
			Main
******************************/
.main {
	width: 100%;
}

.main .sort-buttons {
	margin-top: 30px;
	text-align: center;
	margin-bottom: 3px;
}
.main #refine-button,
.main .sort-button {
	width: 48%;
	height: 50px;
	display: inline-block;
	text-align: left;
	line-height: 50px;
	color: white;
}
.main #refine-button p, 
.main .sort-button p {
	margin-left: 4px;
	font-size: 18px;
	display: inline-block;
}
.main #refine-button {
	background-color: seagreen;
}
.main #refine-button img {
	display: inline-block;
	height: 11px;
	width: 11px;
	margin-left: 8px;
	transition: 0.5s;
}
.main .sort-button {
	background-color: coral;
}
.main .sort-button form {
	display: inline-block;
	border: none;
	width: 45%;
	color: white;
}
.main .sort-button select {
	background-color: coral;
	border: none;
	width: 100%;
	height: 90%;
	color: white;
}
.main #refine-items {
	display: none;
}
.main #refine-items h3 {
	padding-left: 3px;
	background-color: lightgrey;
	padding: 5px 0;
}
.main #price-form {
	margin: 5px 0;
}
.main #price-form:first-child {
	border-bottom: 1px solid lightgrey;
}
.main #price-form div {
	display: inline-block;
	width: 45%;
	vertical-align: top;
}
.main #price-form input {
	height: 30px;
	vertical-align: middle;
}
.main #min-price,
.main #max-price {
	width: 50px;
	margin-bottom: 5px;
}
.main #min-price-range,
.main #max-price-range {
	width: 100%;
}
.main #price-form p {
	color: red;
}
.main #refine-type-list {
	margin: 0 auto;
	width: 100%;
}
.main #refine-type-item {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid grey;
	padding-left: 3px;
	line-height: 40px;
	list-style: none;
}
.main .refine-submit {
	display: block;
	margin: 10px auto 0 auto;
	background-color: seagreen;
	width: 95%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: white;
	border: none;
}
.main .selected {
	background-color: seagreen;
	color: white;
}

.main #list {
	text-align: center;
	width: 100%;
}
.main #list a {
	text-decoration: none;
	color: black;
	text-align: left;
	margin: 0 auto;
	width: 100%;
}
.main .list-item {
	list-style: none;
	width: 100%;
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 20px;
}
.main img {
	width: 100%;
	margin-bottom: 1px;
}
.main .item-info {
	display: block;
	height: 40px;
	width: 100%;
	margin: 0 auto;
}
.main .item-title {
	display: block;
}
.main .item-price {
	display: block;
	color: grey;
}
/*****************************
			Footer
******************************/
#footer {
	width: 100%;
	height: 100px;
	background-color: #e9eaed;
}
/************************************************************
						PRODUCT
************************************************************/
#product-wrapper {
	width: 95%;
	margin: 0 auto;
}
.name-and-price {
	width: 100%;
	padding: 3px 0 3px 0;
}
.name-and-price h4 {
	color: grey;
}
.product-image img {
	width: 100%;
}
#product-form {
	text-align: center;

	margin: 0 auto;
}
.attribute-box {
	height: 40px;
	width: 48.4%;
	line-height: 40px;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	margin: 6px 0 3px 0;
	padding-left: 3px;
}
.attribute-box-left {
	background-color: lightgrey;
}
.attribute-box-right {
	background-color: lightblue;
}
.product-quantity {
	background-color: lightgrey;
	border: none;
}
#add-to-basket {
	width: 100%;
	background-color: seagreen;
	text-align: center;
	line-height: 45px;
	color: white;
	border: none;
	margin: 3px 0 6px 0;
	font-weight: bold;
}
#accordion h3 {
	width: 100%;
	height: 50px;
	background-color: lightgrey;
	border-top: 1px solid grey;
	line-height: 50px;
	padding-left: 10px;
}
#accordion .description {
	padding: 3px 0 3px 5px;
}
.back-to-products {
	margin-bottom: 5px;
	margin-top: 5px;
	text-decoration: none;
	color: black;
}
.back-to-products img,
.back-to-products p {
	display: inline-block;
	vertical-align: top;
}
#added-to-basket {
	border: 2px solid lightgrey;
	border-radius: 5px;
	margin: 5px auto;
	padding: 0 3px;
	text-align: center;
}
#added-to-basket-alert {
	margin: 0 0 10px 0;
}
.proceed-to-basket {
	width: 100%;
	display: inline-block;
	padding: 3px 0;
	margin-bottom: 3px;
	text-decoration: none;
	color: white;
	font-weight: bold;
	border-radius: 3px;
}
.continue-shopping {
	background-color: coral;
}
.proceed-to-basket {
	background-color: seagreen;
}
/************************************************************
						CONTACT
************************************************************/
#contact-form form {
	padding: 10px 20px;
}
#contact-form fieldset {
	padding: 8px;
}
#contact-form .form-name,
#contact-form .form-email,
#contact-form textarea {
	width: 98%;
	border-radius: 3px;
	border: 1px solid grey;
	background-color: #e9eaed;
	transition: 0.5s;
	padding: 2px;
}
#contact-form .form-name:focus,
#contact-form .form-email:focus,
#contact-form textarea:focus {
	background-color: white;
	outline: none;
}

#contact-form .form-name,
#contact-form .form-email {
	height: 30px;
}
#contact-form textarea {
	height: 120px;
}

#contact-form .form-submit {
	width: 100%;
	height: 34px;
	background-color: seagreen;
	color: white;
	border: none;
	cursor: pointer;
}
#contact-form p {
	text-align: center;
}
.error-message {
	text-align: center;
	color: red;
	background-color: yellow;
	border: 1px solid red;
	width: 90%;
	margin: 0 auto;
}
.goonybot {
	display: none;
}
/************************************************************
						SEARCH
************************************************************/
.search-results {}
.search-results a {
	text-decoration: none;
	color: black;
}
.search-results .list-item {
	height: 200px;
	width: 100%;
	display: inline-block;
}
.search-results .list-item img {
	height: 200px;
	width: 200px;
	float: left;
	margin-right: 3px;
}
.search-results .item-price {
	color: grey;
}
/***********************************************************
						BASKET
***********************************************************/
#basket { 
	margin: 30px 0;
	padding: 0 5px;
}
#basket table {
	width: 100%;
	color: #666;
	text-align: left;
	border-spacing: 0;
	border-collapse: collapse;
}
#basket table th {
	padding-bottom: 5px;
	border-bottom: 1px solid lightgrey;		
}
#basket table td {
	padding: 3px;
}
#basket table .subtotal {
	padding-top: 5px;
	border-top: 1px solid lightgrey;
}
#basket table .remove-column {
	padding-left: 25px;
}
#basket table .form-remove {
	width: 25px;
	border: none;
	cursor: pointer;
}
#basket table .form-qty {
	width: 30px;
	background-color: white;
	border: 1px solid lightgrey;
	text-align: center;
}
#basket table .form-update-qty {
	background-color: seagreen;
	color: white;
	border: none;
	cursor: pointer;
}
.proceed-to-checkout {
	text-decoration: none;
}
.proceed-to-checkout div {
	padding: 10px 0;
	text-align: center;
	background-color: seagreen;
	color: white;
	font-weight: bold;
}
.from-last-session {
	background-color: #FFCC00;
}
/***********************************************************
					  SIGNUP / LOGIN
***********************************************************/
#signupLogin {
	padding: 20px;
	text-align: center;
}
#signupLogin-loginContainer form,
#signupLogin-signupContainer form {
	width: 98%;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 3px;
}
#signupLogin-loginButton,
#signupLogin-signupButton {
	width: 100%;
}
/***********************************************************
						CHECKOUT
***********************************************************/
/************************************
		  CHECKOUT/DETAILS
************************************/
#checkoutDetails {
	padding: 0 10px;
}
.checkoutDetails-checkoutChunk {
	width: 100%;
	margin-bottom: 10px;
}
#checkoutDetails h2 {
	color: grey;
	padding-bottom: 5px;
}
.checkoutDetails-checkoutChunk h2 {
	border-bottom: 1px solid lightgrey;
}

/*** Order Summary ***/
.checkoutDetails-orderSummaryContainer h2 {
	border-bottom: 1px solid lightgrey;
}
.checkoutDetails-orderSummaryContainer table {
	width: 100%;
}
.checkoutDetails-orderSummaryContainer tr {
}
.checkoutDetails-orderSummaryContainer td {
	height: 150px;
	width: 30%;
	vertical-align: top;
}
.checkoutDetails-orderSummaryContainer td img {
	height: 100%;
	width: 200px;
}
.checkoutDetails-orderSummaryTableSubtotalRow {
	border-top: 1px solid lightgrey;
}

/*** Billing Information ***/
.checkoutDetails-billingInformationContainer {
	display: none;
}
.checkoutDetails-orderTotalTable {
	width: 100%;
}
.checkoutDetails-orderTotalTable-row2 {
	text-align: right;
}
.checkoutDetails-reviewAndPayButtonContainer {
	text-align: center;
}
.checkoutDetails-reviewAndPayButton {
	width: 100%;
	height: 40px;
}
/************************************
		  CHECKOUT/REVIEW
************************************/
#checkout-review-wrapper{
	color: grey;
}
#customer-details, #order-details, #payment-details {
	margin: 10px 0;
}